{% extends 'base.html' %}

{% block content %}
    <main>
    <h1>Superheroes app</h1>
      <section>
        <img src = "{{ person.image }}" />
        <h2>{{ person.name }}</h2>
        <p class="hero-email">{{ person.email }}</p>
        <p class="hero-title">{{ person.title }}</p>
        <p>{{ person.responsibilities }}</p>
        <p>{{ person.bio }}</p>
        <p>{{ person.twitter }}</p>
        <p>{{ person.birthday }}</p>
        </section>
  </main>
  </body>
</html>

{% endblock %}
